<h1 class="text-center">Welcome to Koroibos Olympics</h1>
<br>
<blockquote class="blockquote text-center">
  <p class="mb-0">Not everyone is an olympian.</p>
  <footer class="blockquote-footer">Me</footer>
<br>
<section id="work">
  <div class="container">
    <div class="row">
      <img src="https://www.outsideonline.com/sites/default/files/styles/width_1200/public/2019/03/12/paul-chelimo-olympics_h.jpg?itok=Q9w09Swx" class="img-responsive" alt="Responsive image">
    </div>
  </div>
</section>
